/*imports*/
@import 'app/home/availability-search/availability-search.inject.css';

/*gobal styles*/
body{
    margin: 0;
}
button{
    transition: transform 0.3s ease;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
