/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'app/home/availability-search/availability-search.inject.css';
@import 'app/home/carrousel-home/carrousel-home.inject.css';

/*gobal styles*/
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
button{
    transition: transform 0.3s ease;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*fonts*/
@font-face {
    font-family: LearningCurve;
    src: url('./assets/Fonts/LearningCurve.ttf');
}
