/*imports*/
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'app/home/availability-search/availability-search.inject.css';
@import 'app/home/carrousel-home/carrousel-home.inject.css';
@import 'app/header/header.inject.css';
@import 'app/app.component.scss';
@import 'app/header/sticky-header.scss';

/*gobal styles*/
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
app-root{
    position: relative;
}
.button{
    transition: transform 0.3s ease;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*fonts*/
@font-face {
    font-family: OPTIBerlingBold-Agency;
    src: url('./assets/Fonts/OPTIBerlingBold-Agency.otf') format('opentype');
}
$font-title-section: 'OPTIBerlingBold-Agency';
