/*COLORS*/

:root{
    --dark-green: #396153;
    --white: #fff;
    --grey: #d1d1d1;
    --grey-light2: #c3c3c3;
    --dark-sand: #282518d4;
    --light-sand: #e0cda954;
    --black-shadow: #000000d6;
}