/*COLORS*/

:root{
    --green: #069965;
    --dark-green: #396153;
    --main-background: #FFFDF8;
    --primary-theme: #5F6F52;
    --secondary-theme: #D88254;
    --white: #fff;
    --grey: #e7e6e6;
    --grey-light2: #c3c3c3;
    --dark-sand: #282518d4;
    --light-sand: #e0cda954;
    --black-shadow: #000000d6;
    --purpule-deep: #AE6DAE;
    --purpule-deep-opa: #ae6daed7;
    --blue-pastel: #6D8DAE;
    --blue-dark-opa: #0a1725b6;
    --blue-pastel-opa: #6D8DAEd7;
    --green-light: #6DAE8E;
    --green-light-opa: #6DAE8Ed7;
}