

:root{
    /*COLORS*/
    --green: #069965;
    --dark-green: #396153;
    --main-background: #FFFDF8;
    --primary-theme: #758963;
    --primary-theme-2: #546149;
    --primary-theme-light: #ABC396;
    --primary-theme-light2: #DFF1CF;
    --secondary-theme: #D88254;
    --secondary-theme2: #aa6c4b;
    --secondary-theme-light: #FFF3EC;
    --secondary-theme-light2: #F4DCC4;
    --white: #ffffffef;
    --grey: #e7e6e6;
    --grey-light2: #c3c3c3;
    --dark-sand: #282518d4;
    --light-sand: #e0cda954;
    --black-shadow: #000000d6;
    --black-ish: #323232;
    --purpule-deep: #AE6DAE;
    --purpule-deep-opa: #ae6daed7;
    --blue-pastel: #6D8DAE;
    --green-light: #6DAE8E;
    --green-light-opa: #6DAE8Ed7;

    /*FONTS*/
    --section-title: 3.2rem;
    --section-title-mobile: 2.5rem;

    --regulard: 400;
    --medium: 500; 
    --semi-bold: 600; 
    --bold: 700;


    .swiper-camping-pictures{
        swiper-slide{
            overflow-x: visible;
        }
    }
    
    .bold-green{
        color: var(--primary-theme);
    }
}