

.pre-heaer{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    height: 34px;
    background-color: black;
    color: var(--white);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: var(--medium);
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container-header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 34px;
    color: var(--white);
    font-family: 'Inter';
    font-size: 15px;

    .header-left{
        display: flex;
        width: 38%;
        height: 133px;
        border-bottom: 1px solid var(--white);
        margin-left: 4%;
        position: relative;
        
        @media (max-width: 780px) {
            width: 20%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border: 0;
        }

        .language-containter{
            display: block;
            margin-top: 45px;
            margin-left: 1rem;

            @media (max-width: 780px){
                display: flex;
                width: 100%;
                justify-content: center;
                position: relative;
                margin-top: 0;
            }
                
            .language-box{
                display: flex;
                flex-direction: column;
                width: 60px;
                z-index: 2;

                @media (max-width: 780px){
                    position: absolute;
                    top: -16px;
                    left: -7px;
                }

                .language{
                    font-size: 20px;
                    margin: 10px 0;
                    text-decoration: underline;
                    color: var(--white);
                    font-family: 'Inter';
                    padding-left: 20px;
                    cursor: pointer;

                    @media (max-width: 780px) {
                        font-size: 18px;
                        margin: 8px 0;
                    }  
                }

                .hidden{
                    display: none;
                    color: var(--grey);

                    &:hover{
                        color: var(--white);
                    }
                }

                &:hover{
                    background-color: var(--black-shadow);
                    border-radius: 5px;
                    @media (max-width: 780px){
                        background-color: var(--black-shadow);
                    }

                    .hidden{
                        display: block;
                    }
                }
            }
        }


        .menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;

            &.hidden{
                display: none;
            }

            lucide-icon{
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 21px;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                    background-color: var(--black-shadow);
                }
            }

            @media (max-width: 780px) {
                margin-left: 0;
                width: 100%;
                align-items: center;
                position: relative;
                top: 16px;
            }  
        }
    }

    .header-right{
        display: flex;
        width: 38%;
        height: 133px;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid var(--white);        
        margin-right: 4%;
        
        @media (max-width: 780px) {
            width: 20%;
            flex-direction: column;
            justify-content: center;
            border: 0;

            span{
                width: 140px;
                font-size: 14px;      
                right: 10%;
                padding-bottom: 14px;  
                position: relative;
                top: -1.5rem;
            }
        }
        
        button{
            background-color: transparent;
            color: var(--white);
            border: 1px solid var(--white);
            width: 167px;
            height: 28px;
            margin-right: 37px;
            margin-left: 28px;

            @media (max-width: 780px) {
                width: 100px;
                margin: 0;
            }
        }
    }

    .logo{
        margin: 1rem 4rem;

        img{
            height: 220px;

            @media (max-width: 780px) {
                height: 140px;
            }    
        }

        @media (max-width: 780px){
            margin: 0;
            margin-top: 0.5rem;
        }
    }
}
.header-reservation{
    text-transform: uppercase;
}