<div class="pre-heaer">
  <span>Réservez vite vos vacances</span>
</div>
<div class="container-header">
    <div class="header-left">      
      <a class="language" href="#">Fr</a>
      <div class="menu">
        <i class="menu-logo"></i>
        <span>MENU</span>
      </div>
    </div>
    <span class="logo">
      <img src="/assets/Images/logo-camping.png" alt="Logo" />
    </span>
    <div class="header-right">
      <span>(+33) 7 84 56 89 52</span>
      <button class="header-reservation">RÉSERVER</button>
    </div>
  </div>