<div class="pre-heaer">
  <span>{{ 'home.header.preheaderMessage' | translate }}</span>
</div>
<div class="container-header">
    <div class="header-left">    
      <div class="language-containter">
        <div class="language-box">          
          <a class="language"
          *ngFor="let language of languages" 
          [class.hidden]="!language.isDefault" 
          (click)="changeLanguage(language.value)">
            {{language.label}}
          </a>
        </div>
      </div>  
      <div class="menu">
        <lucide-icon name="menu" class="my-icon" (click)="onMenuVisibilityChange(true)"></lucide-icon>
      </div>
    </div>
    <span class="logo">
      <img src="/assets/Images/logo_white_n_empty.svg" alt="Logo" />
    </span>
    <div class="header-right">
      <span>(+33) 7 84 56 89 52</span>
      <button class="button header-reservation">{{ 'home.header.booking' | translate }}</button>
    </div>
</div>
<app-menu [isMenuVisible]="isMenuVisible" (menuVisibilityChange)="onMenuVisibilityChange($event)"></app-menu>