$header-height: 70px;

.scrolled {
    position: fixed !important;
    top: 0 !important;
    transition: 0.4s;
    background-color: #000000a5;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 
                0 1px 7px 0 rgba(0, 0, 0, 0.12), 
                0 3px 1px -1px rgba(0, 0, 0, 0.2);    
    .logo{
        margin: 0 !important;
        margin-top: 5px !important;

        img{
            height: $header-height !important;
        }
    }
    .header-left, .header-right{
        border: 0 !important;
        height: $header-height !important;

        .language-containter{
            margin-top: 1rem !important;
            position: relative;
            bottom: 8px;
        }
        .header-reservation{
            @media (max-width: 780px){
                right: 10%;
                position: relative;
                bottom: 8px;
            }
        }
    }
}