<div class="bloc-title camping-pictures">
    <h2>{{titleCampingPicture | translate}}</h2>
</div>
<div class="container-camping-pictures">
    <swiper-container init="false" class="swiper-camping-pictures">
        <swiper-slide *ngFor="let camp_picture of camp_pictures">
            <img [ngClass]="camp_picture.class" [alt]="camp_picture.alt"> 
        </swiper-slide>
    </swiper-container>
    <div class="swiper-btn-box">
        <div class="swiper-button-camping-prev nav-btn">
            <lucide-icon name="move-left" [size]="50" [strokeWidth]="1.3" class="my-icon"></lucide-icon>
        </div>
        <div class="swiper-button-camping-next nav-btn">
            <lucide-icon name="move-right" [size]="50" [strokeWidth]="1.3" class="my-icon"></lucide-icon>
        </div>
    </div>
</div>