<div class="availability-search">
    <div class="datePicker mobile">
        <mat-form-field>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [disabled]="true">
              <input matStartDate formControlName="start" >
              <input matEndDate formControlName="end" >
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon></mat-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #picker [disabled]="false"></mat-date-range-picker>
          </mat-form-field>
    </div>
    
    <button id="type-pitch" class="button cta-size mobile">{{ typeButtonLabel }}</button>
    <button id="availability-btn" class="button darkGreen-btn cta-size mobile">{{ availabilityButtonLabel }}</button>
</div>

