<div class="availability-search">
    <div class="datePicker mobile">
        <mat-form-field>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [disabled]="true">
              <input matStartDate formControlName="start" >
              <input matEndDate formControlName="end" >
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <lucide-icon name="calendar-days" [strokeWidth]="1" class="my-icon"></lucide-icon>
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #picker [disabled]="false"></mat-date-range-picker>
          </mat-form-field>
    </div>
    
    <button id="type-pitch" class="button cta-size mobile">
      {{ 'home.disponibilite.typeAccomodation' | translate }}
      <lucide-icon name="chevron-right" class="my-icon"></lucide-icon>
    </button>
    <button id="availability-btn" class="button gradient-blue-green-btn cta-size mobile">
      {{ 'home.disponibilite.disponibilite' | translate }}
      <lucide-icon name="chevron-right" class="my-icon"></lucide-icon>
    </button>
</div>

