
mat-date-range-input{
    .mat-date-range-input-container{
        span.mat-date-range-input-separator{
            color: white;
        }
    }
}
mat-form-field{
    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }
    .mdc-text-field--filled.mdc-text-field--disabled{
        background-color: transparent;
    }
}

.cdk-overlay-container{
    display: contents;
}

.mdc-icon-button{
    &:hover{
        transform: scale(1.1);
        background-color: var(--blue-dark-opa);
    }
}