app-important-info{
    margin: 0 0.5rem;
}
app-accesibility{
    width: 100%;
    display: block;
    overflow-x: hidden;
    background-image: url('../../assets/Images/Home/Backgrounds/vague-motif-vert-ligt.png');
}
app-pitch-type{
    margin-top: 0.5rem;
    position: relative;
    display: block;

    @media (max-width: 780px){
        margin-bottom: 8rem;
    }
}

app-activity-slider{
    margin-top: 0.5rem;
    position: relative;
    display: block;
}

app-popin-contact{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: var(--black-shadow);

    &.hidden{
        display: none;
    }
}