app-important-info{
    margin: 0 0.5rem;
}
app-accesibility{
    width: 100%;
    display: block;
    overflow-x: hidden;
    background-image: url('../../assets/Images/Home/Backgrounds/vague-motif-vert-ligt.png');
}
app-pitch-type{
    margin-top: 0.5rem;
}