app-important-info{
    margin: 0 0.5rem;
}
app-accesibility{
    width: 100%;
    display: block;
    overflow-x: hidden;
    background-image: url('../../assets/Images/Home/Backgrounds/wave-motif-green.svg');
    background-repeat: repeat;
    background-size: 27rem;
}
app-pitch-type{
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-activity-slider{
    margin-top: 0.5rem;
    position: relative;
    display: block;
    margin-bottom: 4rem;
}

app-popin-contact{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: var(--black-shadow);

    &.hidden{
        display: none;
    }
}

app-camping-pictures{
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    position: relative;
    display: block;
    height: 800px;

    
    @media (max-width: 780px){
        margin-bottom: 0;
    }
}

app-commitments{
    position: relative;
    margin-top: 3rem;
}
