
<app-header></app-header>

<app-carrousel-home  [images]="images"></app-carrousel-home>

<section id="map_accessibility" class="flex">
    <div class="description">
        <span class="title">
            <h4>BIENVENUE AU CAMPING</h4>
            <h3>Montacabana !</h3>
        </span>
        <p>Situé à 600m de la plage, le Camping Montacabana vous accueil du <b>1er mars au 31 octobre</b> sur son site naturel et privilégié du bord de mer !
            <br><br>
            🩴 <b>Abandonnez votre voiture !</b> 🩴
            <br>
            Idéalement situé,plage à 600m, centre ville à 800m, son marché régionalement réputé ainsi que ses bars, restaurants et supermarchés seront vous satisfaire. 
            <br><br>
            Le Camping Montacabana sera votre lieu de résidence idéal pour vos vacances, week-end en famille ou entre amis entre confort, farniente, activités et découverte des plus beaux sites de la région. </p>
    </div>
    <picture>
        <img src="../../assets/Images/Home/Sections/carte-accessibilite.svg" alt="localisation"/>
    </picture>
</section>
