
<app-header></app-header>

<app-carrousel-home  [images]="images"></app-carrousel-home>

<app-important-info></app-important-info>

<app-accesibility></app-accesibility>

<app-services></app-services>

<app-pitch-type (urlChangeEvent)="updateUrl($event)"></app-pitch-type>

<app-activity-slider></app-activity-slider>

<app-camping-pictures></app-camping-pictures>

<app-commitments></app-commitments>

<app-popin-contact class="popin hidden"></app-popin-contact>

<app-dynamic-iframe [documentUrl]="documentUrl" [isVisible]="showIframe" (closeIframe)="onCloseIframe()"></app-dynamic-iframe>
