<section id="map_accessibility" class="flex">
    <div class="description">
        <span class="title">
            <h4>{{ preTitle | translate}}</h4>
            <img src="../../../assets/Images/Home/Sections/Accessibility/accessibility-title.svg" alt="title camping"/>
        </span>
        <p class="bottom-gap3" [innerHTML]="textBienvenu | translate"></p>
        <button class="uppercase button cta-size secondary-btn togglePopin">{{ contactButtonLabel | translate}}</button>
    </div>
    <picture>
        <img alt="localisation details" id="details" class="parallax-fast"/>
        <img alt="localisation" id="background" class="parallax"/>
    </picture>
</section>