
.flex{
    display: flex;

    &#map_accessibility{
        color: var(--primary-btn);
        max-height: 750px;
        height: 100vh;
        position: relative;
           
        @media (max-width: 780px) {
            max-height: initial;
            height: auto;
            width: 100%;
            background-repeat: repeat-y;
            background-size: auto;
            flex-direction: column-reverse;
            align-items: center;
        }
        
        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1% 8%;
            width: 53%;
            background: radial-gradient(circle at 50% 50%, var(--main-background), #ffffff00);
            color: var(--black-shadow);

            @media (max-width: 780px){
                width: 100%;
                padding: 14% 0;
                
                p{
                    padding: 0 8%;
                }
            }

            .title{
                text-align: center;
                
                h4{
                    font-weight: 400;
                    margin: 0;
                }
                img{    
                    height: 6rem;
                }
            }   

            .bottom-gap3{
                margin-bottom: 3rem;
                max-width: 690px;
            }
        }
        
        picture{
            width: 38%;    
            display: flex;
            right: 0;
            position: absolute;
            height: 100%;

            @media (max-width: 780px){
                width: 100%;
                position: relative;
            }

            #details{
                content: url('../../../assets/Images/Home/Sections/Accessibility/carte-details-vert-clair.svg');
                height: 100%;
                object-fit: cover;
                width: 1250px;
                object-position: left;
                left: 34px;
                position: relative;
                z-index: 1;
                
                @media (max-width: 780px){
                    height: calc(100vh - 4rem);
                    position: relative;
                    left: 0;
                }
            }

            #background{
                content: url('../../../assets/Images/Home/Sections/Accessibility/carte-vert.svg');
                height: 100%;
                object-fit: cover;
                width: 100%;
                object-position: left;
                position: absolute;
                z-index: 0;
                
                @media (max-width: 780px){
                    height: calc(100vh - 4rem);
                    left: -6px;                
                }

            }
        }
    }

}
.uppercase{
    text-transform: uppercase;
}