
.flex{
    display: flex;

    &#map_accessibility{
        color: var(--primary-btn);
        max-height: 750px;
        height: 100vh;
        position: relative;
           
        @media (max-width: 780px) {
            max-height: initial;
            height: auto;
            width: 100%;
            background-image: url('../../../assets/Images/Home/Backgrounds/wave-motif-mobile.svg');
            background-repeat: repeat-y;
            background-size: auto;
            flex-direction: column-reverse;
            align-items: center;
        }
        
        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1% 8%;
            width: 53%;
            background: radial-gradient(circle at 50% 50%, var(--main-background), #ffffff00);

            @media (max-width: 780px){
                width: 100%;
                padding: 14% 0;
                
                p{
                    padding: 0 8%;
                }
            }

            .title{
                text-align: center;
                
                h4{
                    font-weight: 400;
                    margin: 0;
                }

                h3{
                    margin-top: 16px;
                    margin-bottom: 38px;
                    font-size: 76px;
                    font-family: 'LearningCurve', Helvetica, Arial, Verdana, Tahoma, sans-serif;
                    color: var(--secondary-theme);
                }
            }   

            .bottom-gap3{
                margin-bottom: 3rem;
                max-width: 690px;
            }
        }
        
        picture{
            width: 38%;    
            display: flex;
            right: 0;
            position: absolute;
            height: 100%;

            @media (max-width: 780px){
                width: 100%;
                position: relative;
            }

            #details{
                content: url('../../../assets/Images/Home/Sections/Accessibility/carte-details-villes-vert.png');
                height: 100%;
                object-fit: cover;
                width: 1250px;
                object-position: left;
                left: 32px;
                position: absolute;
                z-index: 1;
                
                @media (max-width: 780px){
                    height: auto;
                }
            }

            #background{
                content: url('../../../assets/Images/Home/Sections/Accessibility/carte-sans_details-verte-light.png');
                height: 100%;
                object-fit: cover;
                width: 100%;
                object-position: left;
                position: absolute;
                z-index: 0;
                
                @media (max-width: 780px){
                    height: auto;
                }

            }
        }
    }

}
.uppercase{
    text-transform: uppercase;
}