<div id="mask-menu" [ngClass]="{'hidden': !isMenuVisible}">
    <div id="frame-menu">
        <a href="javascript:void(0);" (click)="closeMenu()">
            <lucide-icon name="x" [size]="34" class="my-icon"></lucide-icon>
        </a>
        <div class="container-menu">
            <a class="menu"
            *ngFor="let menu of getVisibleMenus(); let i = index" 
            [routerLink]="menu.url" [state]="{tracingId: (i + 1)}">
                {{menu.idTranslate | translate}}
            </a>
        </div>
    </div>
</div>
