.container{
    margin: 16px 5%;
    display: flex;
    justify-content: space-around;
    
    @media (max-width: 780px){
        flex-direction: column;
    }

    .info-container{
        display: flex;
        font-size: 16px;
        
        @media (max-width: 780px){
            margin: 8px 0;
        }

        .my-icon{
            color: var(--primary-theme);
            
            @media (max-width: 780px){
                width: 30%;
            }
        }
        .info-texts{
            margin-left: 16px;
            padding-top: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @media (max-width: 780px){
                width: 70%;
            }
            
            h3{
                margin: 0;
                margin-bottom: 4px;
                text-transform: uppercase;
                color: var(--secondary-theme);
            }
            p{
                margin: 0;
                line-height: 1.4rem;
                text-align: center;
                text-transform: uppercase;
                color: var(--black-shadow);
            }
        }
    }
 }