
:root{
    --swiper-pagination-bottom: 29vh;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-color: #FFF;
    --swiper-pagination-bullet-inactive-opacity: 0.35;
    @media (max-width: 780px) 
    {
        --swiper-pagination-bottom: 280px;        
    }
    --mat-datepicker-calendar-date-selected-state-background-color: #396153;
    --mat-datepicker-calendar-date-in-range-state-background-color: #6DAE8E;
    --mat-datepicker-calendar-date-preview-state-outline-color: #ffffff7d;
    --mat-datepicker-calendar-date-hover-state-background-color: #39615389;
}