:root{
    --swiper-pagination-bottom: 29vh;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.35;
}