<swiper-container init="false" class="swiper-home">
<div class="swiper-pagination"></div>
    <swiper-slide *ngFor="let image of images; first as isFirst">
        <img [src]="image.srcUrl" [alt]="image.imgAlt" [attr.fetchpriority]="isFirst ? 'hight' : null">
    </swiper-slide>
</swiper-container>
<div class="mask">
    <div class="mask-top"></div>
    <div class="title">
        <h2>{{ 'home.title.titleTop' | translate }}</h2>
        <h1>{{'home.title.titleBottom' | translate}}</h1>       
    </div>
    <div class="mask-bottom" class="hidden">
        <app-availability-search></app-availability-search>
    </div>
</div>
