<div class="contact">
    <a class="quit">
        <lucide-icon name="x" [size]="34" class="my-icon"></lucide-icon>
    </a>
    <h2>{{title_popin | translate}}</h2>
    <div class="info-box">
        <lucide-icon name="phone" [strokeWidth]="1" [size]="40" class="my-icon"></lucide-icon>
        <span> +33 7 67 45 79 52</span>
        <a #copyLink class="copy-link">
            <lucide-icon   name="copy" [size]="20" class="my-icon"></lucide-icon>
        </a>
    </div>
    <div class="info-box">
        <lucide-icon name="mail" [strokeWidth]="1" [size]="40" class="my-icon"></lucide-icon>
        <a href="mailto:reservation@montacabana-camping.fr" id="email">reservation&#64;montacabana-camping.fr</a>
        <a #copyLink class="copy-link">
            <lucide-icon   name="copy" [size]="20" class="my-icon"></lucide-icon>
        </a>
    </div>
    <div class="info-box">
        <lucide-icon name="map-pin" [strokeWidth]="1" [size]="40" class="my-icon"></lucide-icon>
        <span> 32 Avenue Joinville-le-pont <br> 33930 Montalivet</span>
        <a #copyLink class="copy-link">
            <lucide-icon   name="copy" [size]="20" class="my-icon"></lucide-icon>
        </a>
    </div>
    <div class="info-box">
        <lucide-icon name="calendar-clock" [strokeWidth]="1" [size]="40" class="my-icon"></lucide-icon>
        <span>{{opening_hours | translate}} </span>
    </div>
</div>