
.container{
    margin: 3rem 3%;
    display: flex;
    position: relative;
    justify-content: center;

    .pitch-card{
        display: flex;
        flex-direction: column;
        position: relative;
        color: var(--grey);
        margin: 5rem 0.8rem;

        img{
            width: 280px;
            height: 430px;
            object-fit: cover;
        }

        h3{
            position: absolute;
            bottom: 1rem;
            right: 2rem;
        }

        p{
            position: absolute;
            display: none;
        }
    }

    .pitch-card.gradient-overlay:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 66%, rgb(0 0 0) 100%);
        transition: background 0.9s ease;
    }
    
    .pitch-card:hover.gradient-overlay{

        &:before{
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 66%);
            transition: background 0.9s ease;
        }

        p{
            display: initial;
            padding: 5rem 2rem;
        }

        h3{
            position: absolute;
            bottom: initial;
            top: 2rem;
            transition: top 0.9;
            right: initial;
            left: 2rem;
        }
    }

    .bloc-title{
        background-color: var(--green);
        position: absolute;
        width: 50%;
        height: 300px;
        z-index: -1;
        left: 0;

        h2{
            font-family: 'OPTIBerlingBold-Agency';
            color: var(--white);
            width: 100%;
            text-align: center;
        }        
    }
}