<div class="bloc-title-pitch">
    <h2>{{titlePitchTypeSection | translate}}</h2>
</div>

<div *ngFor="let pitch of pitches" 
class="container {{pitch.class}}">
    <div class="title-container">
        <h3 class="card-title">{{pitch.title | translate}}</h3>
    </div>
    <div class="content">
        <div class="slider">
            <swiper-container init="false" class="swiper-pitch-type-pictures">
                <swiper-slide *ngFor="let image of pitch.images">
                    <img [ngClass]="image.class" [alt]="image.alt"> 
                </swiper-slide>
            </swiper-container>
            <div class="swiper-btn-box">
                <div class="swiper-button-pich-prev nav-btn" [ngClass]="pitch.gap_offers_class">
                    <lucide-icon name="chevron-left" [size]="45" [strokeWidth]="1.5" class="my-icon arrow"></lucide-icon>
                </div>
                <div class="swiper-button-pitch-next nav-btn" [ngClass]="pitch.gap_offers_class">
                    <lucide-icon name="chevron-right" [size]="45" [strokeWidth]="1.5" class="my-icon arrow"></lucide-icon>
                </div>
            </div>
        </div>
        <div class="informations">
            <div class="offers-box {{pitch.gap_offers_class}}">
                <div class="offer" 
                *ngFor="let offer of pitch.offers">
                    <h4 class="option-title">{{offer.title | translate}}</h4>
                    <div class="rows">
                        <div class="row"
                        *ngFor="let row of offer.rows">
                            <lucide-icon name="{{row.picto_name}}" [size]="24" [strokeWidth]="1" class="my-icon"></lucide-icon>
                            <div class="text" [innerHTML]="row.text | translate"></div>
                        </div>                    
                    </div>
                    <div *ngIf="offer.class" class="container-btn">
                        <button class="inventory-btn button {{offer.class}}" (click)="onClick($event)">{{text_btn_inventory | translate}}</button>
                    </div>
                </div>
            </div>
            <button class="pricing-btn button {{pitch.class}}" (click)="onClick($event)">{{text_lien | translate}}</button>
        </div>
    </div>
</div>
