<div class="bloc-title-pitch">
    <div class="container-title">
        <h2>{{titlePitchTypeSection | translate}}</h2>
    </div>
</div>
<div class="container">
    <a (click)="manageTapOrClick($event, pitch.file_url!)"
    *ngFor="let pitch of pitches">
        <picture class="pitch-card {{pitch.hover_background_color}} {{pitch.height_mobile_class}}">
            <img alt="{{pitch.alt}}" class="{{pitch.image_class}}"/>
            <div class="gradient-overlay"></div>
            <h3 class="pitch-title">
                {{pitch.title | translate}}
                <lucide-icon name="arrow-up-left" [size]="44" [strokeWidth]="1.5" class="my-icon"></lucide-icon>
            </h3>
            <div class="offers-box {{pitch.gap_offers_class}}">
                <div class="offer" 
                *ngFor="let offer of pitch.offers">
                    <div class="row"
                    *ngFor="let row of offer.rows">
                        <lucide-icon name="{{row.picto_name}}" [size]="24" [strokeWidth]="1" class="my-icon"></lucide-icon>
                        <div class="text" [innerHTML]="row.text | translate"></div>
                    </div>
                </div>
            </div>
            <span class="link-fake" (click)="manageTapOrClick($event, pitch.file_url!)" >{{text_lien | translate}}</span>
        </picture>
    </a>
</div>
